<h1>JUEGOS DE VIDEO</h1>

<!-- Interpolacion -->
<p>NOMBRE DE JUEGO: {{ nombreJuego }}</p>
<p>VERSION: {{ juego.version }}</p>

<div>
  <!-- Property Binding Img -->
  <img
    [src]="imagenJuego"
    [title]="tooltip"
    [width]="anchoImg"
    [height]="altoImg"
  />
</div>
<br />
<div>
  <!-- Event Binding -->
  <button (click)="verJuego(nombreJuego)">Ver Juego</button>
</div>
<br />
<div>
  <!-- Two way Data Binding -->
  <input [(ngModel)]="plataforma" />
  <p>{{ plataforma | uppercase }}</p>
</div>
<br />
<ul *ngIf="verJuego">
  <h2>Demas Juegos</h2>
  <li *ngFor="let juego of juego1">
    <!--NOMBRE -->{{ juego.nombre | uppercase }}
    <br />
    <!--PLATAFORMA -->{{ juego.plataforma | lowercase }}
    <p *ngIf="juego.nombre === 'Zelda'">NUEVO JUEGO DE NINTENDO</p>
  </li>
</ul>
<br />
<ul>
  <h2>Remasterizados</h2>
  <li *ngFor="let juego of juegos">
    {{ juego | uppercase }}
  </li>
</ul>
